<div id="container-detail">
    <div>
        <img src="{{movie.image}}" alt="">
        <h1>{{movie.title}}</h1>
    </div>

    <div>
        <p>Director: {{movie.director}}</p>
        <h2>Description: {{movie.description}} </h2>
        <p>Stars: {{movie.stars}}</p>
        <p>Showtimes: {{showtimes}}</p>
         <a href="/movies">Back</a>
    </div>

</div>