<div id="container-detail">
    <div class="containerDetailMovies">
        <img src="{{movie.image}}" alt="">
        <h1>{{movie.title}}</h1>
    </div>

    <div>
        <p>Director: {{movie.director}}</p>
        <h2>Description: {{movie.description}} </h2>
        <p>Stars: {{movie.stars}}</p>
        <p>Showtimes: {{showtimes}}</p>
        <button ><a href="/movies" class="backButton">Back</a></button>
         
    </div>

</div>